[Unit]
Description=VisionClip Piper HTTP TTS Server
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m piper.http_server -m <VOICE_NAME> --host 127.0.0.1 --port 5000
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
